*{
    margin: 0px;
    padding: 0px;
}

.header{
    width: 100%;
}

.navbar{
    width: 98%;
    height: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.nav-contain ul{
    padding-left: 400px;
    gap: 20px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    list-style-type: none;
}

.nav-contain ul li a{
    text-decoration: none;
    font-size: 19px;
    padding-left: 40px;
    color: black;
    font-family: monospace;
}
.nav-contain ul li a:hover{
    color: brown;
}
.nav-btn button{
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 30px;
}

.nav-btn button:hover{
    background: none;
    border: 1px solid black;
    color: black;
}

.header-bg-img{
    width: 100%;
    height: 800px;
    background-image: url(https://preview.colorlib.com/theme/tailor/assets/img/hero/h1_hero.png.webp);
}
.header-bg-color{
    width: 100%;
    height: 100%;
    background-color: rgba(44, 40, 70, 0.455);
    display: flex;
}
.header-contain{
    width: 100%;
    height: 100%;
}
.header-contain img{
    padding-left: 256px;
    padding-top: 140px;
}
.header-contain h1{
    padding-left: 256px;
    font-size: 60px;
    color: white;
    font-family: monospace;
}
.header-contain p{
    padding-left: 256px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-bottom: 20px;
}
.header-contain button{
    color: white;
    margin-left: 250px;
    width: 150px;
    height: 50px;
    background: none;
    border: 1px solid rgb(255, 255, 255);
}
.header-contain button:hover{
    background-color: white;
    color: rgb(0, 0, 0);
}
.header-img{
    width: 100%;
    height: 100%;
}
.header-img img{
    width: 650px;
    height: 659px;
    padding-left: 200px;
    padding-top: 140px;
}
.services{
    display: flex;
    padding: 150px;
    margin-top: 15px;
    margin-left: 210px;
    gap: 150px;
}
.box{
    text-align: center;
    border: px solid black;
}
.service-number{
    color: white;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(238, 194, 91);
    background-color: rgb(238, 194, 91);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-number:hover{
    color: rgb(238, 194, 91);
    background-color: white;
    border: 1px solid rgb(238, 194, 91);
}
.service-title{
    font-size: 25px;
    font-weight: bolder;
    text-align: left;
    font-family: sans-serif;
    line-height: 2;
}
.box:hover .service-title{
    color: rgb(238, 194, 91);
}
.service-text {
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
    text-align: left;
    line-height: 1.5;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 200;
}
.about{
    height: 780px;
    display: flex;
    background-color: white;
    padding-bottom: 100px;
}
.tailor-img{
    width: 690px;
    height: 544px;
    margin: 120px;
}
.tailor-content{
    background-color: #f0cab2;
    width: 100%;
    height: 482px;
    padding: 150px;
}
.tailor-content h2{
    font-size: 50px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 40px;
}
.tailor-content p{
    line-height: 1.5;
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 50px;
}
.tailor-content button{
    width: 160px;
    height: 80px;
    font-size: 15px;
    background-color: rgb(238, 194, 91);
    border: rgb(238, 194, 91);
}
.tailor-content button:hover{
    background: none;
    border: 1px solid black;
    color: black;
}
.categoies-area{
    width: 100%;
    height: 600px;
}
.main{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 75px;
    margin-left: 65px;
}
.main h2{
    font-size: 70px;
}
.main p{
    align-content: center;
    font-size: 30px;
}
.row{
    gap: 50px;
    display: flex;
    margin-left: 220px;
    margin-right: 220px;
    padding-top: 50px;
    padding-bottom: 50px; 
}
.category{
    text-align: left;
    margin-bottom: 200px;
    width: 100%;
    height: 270px;
    gap: 10px;
}
.category h2{
    line-height: 2.2;
    font-size: 30px;
}
.category p{
    line-height: 1.9;
    font-size: 20px;
}
.video{
    width: 100%;
    height: 730px;
    background-image: url(https://preview.colorlib.com/theme/tailor/assets/img/gallery/video-bg.png.webp);
}
.container{
    width: 100%;
    height: 730px;
    background-image: url(https://preview.colorlib.com/theme/tailor/assets/img/gallery/video-bg.png.webp);
    margin-top: 160px;
}
.videoicon{
    align-items: center;
}
.link{
    padding: 316px;
    padding-left: 885px;
}
.content-center{
    width: 100%;
    height: 760px;
    padding-top: 125px;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 80px;
}
.content-center h2{
    font-size: 65px;
    padding-bottom: 15px;
}
.content-center p{
    line-height: 1.5;
    font-size: 25px;
    padding-bottom: 90px;
}
.post{
    display: flex;
    margin-left: 350px;
}
.col2{
    padding-left: 100px;
}
.fcontainer{
    width: 100%;
    height: 700px;
    background-image: url(https://preview.colorlib.com/theme/tailor/assets/img/gallery/footer-bg.png.webp);
}
.farea{
    margin-left: 0px;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 0px;
}
.fctn{
    width: 100%;
    height: 476px;
    display: flex;
    padding-bottom: 120px;
}
.map{
    width: 58%;
    height: 600px;
}
.fbottomarea{
    color: white;
    padding-left: 900px;
    align-items: flex-end;
}
.box1{
    padding: 50px;
    width: 350px;
    height: 270px;
}
.box1 p{
    padding-top: 25px;
    padding-bottom: 50px;
    color: #B7947E;
    font-size: 25px;
}
.box1 .mb .number2{
    padding-bottom: 50px;
}
.box1 .mb .number a{
    color: #B7947E;
    font-size: 26px;
}
.box1 .mb .number2 a{
    color: #B7947E;
    font-size: 17px;
}
.box2{
    padding: 50px;
    width: 350px;
    height: 270px;
}
.box2 .footer-title{
    color: #B7947E;
    font-size: 35px;
}
.box2 .footer-title h4{
    padding-bottom: 30px;
}
.box2 .footer-title ul{
    list-style-type: none;
}
.box2 .footer-title ul li{
    font-size: 30px;
}
.footertitle{
    color: #B7947E;
}
.fsecetion{
    color: #B7947E;
    text-decoration: none;
}
.footersocial{
    gap: 10px;
}